<html>
<head>
	<h1>WELCOME {{username}}</h1>  
</head>
<body>
<form action="/post" method="POST" enctype="multipart/form-data">

	<p>POST SOMETHING! :D</p>

	<!-- Prompt user for image file -->
	<label for="avatar">Choose a picture (JPEG/JPG/PNG):</label>
	<input type="file"
       id="avatar" name="filePath_img"
	   accept="image/png, image/jpeg, image/jpg"></br>
	   
	<input type="text" name = "caption" placeholder="Enter a caption"/> </br>
	


	<p>Pick who you want to be able to view your photo:</p>

	<input id="followers" type="radio" name="allFollowers_temp" value="followers">
		<label for="followers">All followers</label></input><br>
	<input id="members" type="radio" name="allFollowers_temp" value="members">
		<label for="members">Members of designated friend groups</label></input><br>



	<p>Select which friend group you would like to share your photo with:</p>

	<label for="groups">Choose friend group(s):</label><br><br>
	<select id="groups" name="groups" multiple>
		{% for group in groups %}
			<option type="button" value="{{group.groupName}}">{{group.groupName}}</option>
		{% endfor %}
	</select>

	<p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.
	
	
	<br><br>
	<input type="submit" value = Post />

	{% if error1 %}
		<p class="error1"><strong>Error</strong> {{error1}}</p>
	{% endif %}
</form>

<br>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style> 



<p>YOUR POSTS:</p>

<table>
	<th>pID</th>
	<th>Posted Image</th>
	<th>Caption</th>
	<th>Posting Date</th>
	<th>Who Can View</th>

{% for line in posts %}
	<tr>
		<td>{{line.pID}}</td>
		<td><img src="{{url_for('uploaded_file', filename=line.filePath)}}" alt="Uploaded Image" width="500" height="333"></td>
		<td>{{line.caption}}</td>
		<td>{{line.postingDate}}</td>
		<td>
			{% if line.allFollowers == 1 %} 
				<p>Visible to all followers</p>
			{% else %}
				<p>Visible to members of designated friend groups</p>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>

<br>
<br>

<p>YOUR FEED:</p>

<table>
	<th>pID</th>
	<th>Posted Image</th>
	<th>Caption</th>
	<th>Posting Date</th>
	<th>Posted By</th>

{% for line in sharedPhotos %}
	<tr>
		<td>{{line.pID}}</td>
		<td><img src="{{url_for('uploaded_file', filename=line.filePath)}}" alt="Uploaded Image" width="500" height="333"></td>
		<td>{{line.caption}}</td>
		<td>{{line.postingDate}}</td>
		<td>{{line.poster}}</td>
	</tr>
{% endfor %}
</table>

<br>


<br>
<a href="/manageGroups">MANAGE GROUP ACTIVITIES</a>
<br>
<br>
<a href="/tag">TAG A PHOTO</a>
<br>
<a href="/tagPending">MANAGE PENDING TAGS</a>
<br>
<br>
<a href="/logout">Logout</a>

</body>


</html>
